@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111111;
  background-image: url("./../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(146, 0, 0, 0.795); */
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #00f8f9;
}

.container {
  margin: auto;
  overflow: hidden;
  width: inherit;
}

.instagram {
  margin: auto;
  margin-top: 10px;
  max-width:486px;
  min-width:326px;
}

#card {
  margin: auto;
  text-align: center;
  width: 100%;
  background-color: #111111 ;
  color: #ffff00;
  border-color: #111111 ;
  /*for mobile*/
}

@media only screen and (min-width: 480px) {

  /*for desktop*/
  #card {
    animation: 0.5s ease-in-out 0s 1 slideInFromLeft;
    width: 480px;
    margin: auto;
    margin-top: 2%;
    border-style: solid;
    border-radius: 3px;
  }
}

#card img {
  width: inherit;
}

@-webkit-keyframes rainbowframes {
  0% {
    color: #111;
  }

  100% {
    color: #ffff00;
  }
}

.rainbow {
  -webkit-animation: rainbowframes 5s infinite alternate;
}

.table {
  display: table;
  margin: auto;
  width: inherit;
}

#info {
  text-align: left;
  margin-left: 30pt;
}
ul#icons {
  padding: 0;
  text-align: center;
  list-style: none;
}

#avatar {
  margin: 0;
  padding: 0;
  width: inherit;
}

ul#icons li {
  padding-left: 5%;
  padding-right: 5%;
  display: inline;
  margin: auto;
  width: inherit;
}

ul#icons a {
  color: #00f8f9;
  text-decoration: none;
  transition: 0.4s;
}

ul#icons a:hover {
  color: #ffff00;
  text-decoration: none;
}

#hi {
  color: #ffff00;
}

footer {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

#contribute {
  font-size: 15px;
}

a {
  color: rgb(197, 152, 27);
  text-decoration: none;
}
